{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        'semi': 0,
        'react/jsx-filename-extension': 0,
        'comma-dangle': 0,
        'import/no-unresolved': 0,
        'import/extensions': 0,
        'react/prefer-stateless-function': 0,
        'no-console': 0,
        'no-undef': 0,
        'space-before-function-paren': 0
    },
    "extends": ["standard", "standard-react"]
}
