.item{
  width: 216px;
  height: 324px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
}
.item h4{
  opacity: 0;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  color: white;
  width: 100%;
  padding: 20px 10px;
  margin: 0px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.item:hover h4{
  opacity: 1;
}
.image_available,
.image_not_available {
  position: absolute;
}
.image_available{
  z-index: 1;
}
